{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<body class="h-100  text-bg-dark">
<div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
  <br><br><br> 
  <header class="mb-auto">
    <img src="static/5927577.png" style='width:200px; height:200px' alt="Your Image" class="img-fluid">
  
  </header>

  <main class="px-3" >
    
    <h1>Hi!.... I'm ROHIT YADAV</h1>
    <p class="lead">Backend and Machine Learning Developer</p>
    <p class="lead">
      <a href="/contact" class="btn btn-lg btn-light fw-bold border-white bg-white">Say Hello <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telegram" viewBox="0 0 18 20">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
      </svg></a>
    </p>
  </main>

  {% comment %} <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer> {% endcomment %}
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    

</body>
{% endblock body %}
