{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block body %}

<div class="container-fluid my-3 ">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/ms2.jpg" class="img-fluid" alt="Website snap">

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="https://653df5122de5723df0e6f036--strong-cuchufli-315f79.netlify.app/">
            <h5 class="card-title">Music Recommendation Website</h5>
        </a>
          <p class="card-text">A user-friendly Songs Recommendations Website that offers a seamless listening experience and personalized song suggestions.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="static/ms2.jpg" class="img-fluid rounded-start" alt="Website snap">

      </div>
      <div class="col-md-8" >
        <div class="card-body" >
          <a href="https://653df5122de5723df0e6f036--strong-cuchufli-315f79.netlify.app/">
            <h5 class="card-title">Music Recommendation Website</h5>
        </a>
          <p class="card-text">A user-friendly Songs Recommendations Website that offers a seamless listening experience and personalized song suggestions.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}